@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
body,
main {
  background-color: #f1f5f9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* Global CSS file or Tailwind config */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.notched-corner::after {
  content: "";
  position: absolute;
  background-color: #f1f5f9;
  width: 100%;
  height: 30px;
  border-top-right-radius: 80px;
  left: 0;
  bottom: -10px;
}
.image-shadow {
  filter: drop-shadow(0px 14px 5px gray);
}

textarea {
  overflow: hidden;
  resize: none; /* Prevent manual resizing */
}

.image-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* To prevent overflow */
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container */
}

.image-containerII {
  position: relative;
  width: 100vw;
  height: 30vh;
  overflow: hidden; /* To prevent overflow */
}

.image-containerII img {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container */
  overflow: hidden;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
