@tailwind base;
@tailwind components;
@tailwind utilities;

body,
main {
  background-color: #f1f5f9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.notched-corner::after {
  content: "";
  position: absolute;
  background-color: #f1f5f9;
  width: 100%;
  height: 30px;
  border-top-right-radius: 80px;
  left: 0;
  bottom: -10px;
}
.image-shadow {
  filter: drop-shadow(0px 14px 5px gray);
}

textarea {
  overflow: hidden;
  resize: none;
}

.image-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-containerII {
  position: relative;
  width: 100vw;
  height: 30vh;
  overflow: hidden;
}

.image-containerII img {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
